@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white dark:bg-slate-900 text-slate-800 dark:text-white transition-colors duration-200;
  }
}

@layer utilities {
  .file-explorer-scrollbar::-webkit-scrollbar,
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .file-explorer-scrollbar::-webkit-scrollbar-track,
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .file-explorer-scrollbar::-webkit-scrollbar-thumb,
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-primary rounded-full;
  }
  .file-explorer-scrollbar::-webkit-scrollbar-thumb:hover,
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-primary/70;
  }
}